################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3rdParty
/OtherEngTools/Temp
/src/Pamux.GameDev.Tools/obj/
/src/Pamux.GameDev.Tools/bin/
/src/.vs/EngTools/v15
/OtherEngTools
/Data/Clipboard.txt
/Temp
/src/Pamux.GameDev.Lib/bin
/src/Pamux.GameDev.Lib/obj

