################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

project.lock.json

/3rdParty
/OtherEngTools
/Data/Clipboard.txt
/Temp

/src/Pamux.GameDev.Tools/TestAssets/scaled

/Content/Harvest/Colorful World/Assets/Colorful_World/Prefabs/Summer/Rocks_Set_1
/Content/Harvest
